<div class="four wide column" id="ContentLProf">
  <%= render "devise/shared/forums" %>
</div>

<div class="eight wide column">
  <div id="ContentRProf">
    <table class="ui table">
      <tbody>
        <tr>
          <td>

            <div class="AvaHdr">
              <div class="Ava1">
                <%= image_tag "UserAva1.gif", id: "avatar" %>
              </div>
            </div>

            <div class="uName">
              
            </div>

          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="ContentRProf2">

  </div>
</div>
