<div class="two column row">
  <div class="two wide column">
    <div id="LNav">
     Left Nav
    </div>
  </div>
  <div class="fourteen wide column">
    <div id="bodyR">
      Body Right
    </div>
  </div>
</div>
