<div class="two column row">
  <div class="two wide column">
    <div id="LNav">

<%= @forum.name %>
    </div>
  </div>
  <div class="fourteen wide column">
    <div id="bodyR">
      <div class="PgBoardName">

      </div>
    </div>
  </div>
</div>
