<div class="two column row" id="twoColumnRow">




  <div class="two wide column" id="twoWideColumn">




    <%= render "devise/shared/leftNav" %>





  </div>





  <div class="fourteen wide column" id="fourteenWideColumn">





    <div id="bodyR">




      <h1>Member List</h1>













    </div>







  </div>






</div>
