<div class="Forums">
  <div id="ForumsH">
    SEC Forums
  </div>
  <% if @secForums %>
    <% for forum in @secForums %>
      <% if forum.name != 'Help Board' %>
        <div class="Forums1">
          <%= image_tag forum.image, class: "forumImage" %> <%= link_to forum.name, forum_show_path(forum), :class => "homeLNav" %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="Forums">
  <div id="ForumsH">
    Team Forums
  </div>
  <% if @teamForums %>
    <% for forum in @teamForums  %>
      <div class="Forums1">
        <%= image_tag forum.image, class: "forumImage" %> <%= link_to forum.name, forum_show_path(forum), :class => "homeLNav" %>
      </div>
    <% end  %>
  <% end %>
</div>
