<!-- Home PageHome PageHome PageHome PageHome PageHome PageHome PageHome PageHome PageHome PageHome PageHome PageHome PageHome PageHome PageHome PageHome PageHome PageHome -->
<div class="two column row">
  <div class="four wide column" id="ContentL">
    <%= render "devise/shared/forums" %>
  </div>
  <div class="eleven wide column" id="ContentR">
    <div>
      Latest SEC News
    </div>
</div>
