<!-- Home PageHome PageHome PageHome PageHome PageHome PageHome PageHome PageHome PageHome PageHome PageHome PageHome PageHome PageHome PageHome PageHome PageHome PageHome -->
<div class="two column row">
  <div class="four wide column" id="ContentL">
    <div class="Forums">
      <div id="ForumsH">
        SEC Forums
      </div>
      <div class="Forums1">
        <%= link_to 'SEC Rant', forum_show_path(@rant), :class => "homeLNav" %>
      </div>
      <div class="Forums1">
        <%= link_to 'SEC Recruiting', forum_show_path(@recruiting), :class => "homeLNav" %>
      </div>
      <div class="Forums1">
        <%= link_to 'SEC Tickets', forum_show_path(@tickets), :class => "homeLNav" %>
      </div>
      <div class="Forums1">
        <%= link_to 'Off-Topic Board', forum_show_path(@offtopic), :class => "homeLNav" %>
      </div>
    </div>
    <div class="Forums">
      <div id="ForumsH">
        Team Forums
      </div>
      <div class="Forums1">
        Alabama
      </div>
      <div class="Forums1">
        Arkansas
      </div>
      <div class="Forums1">
        Auburn
      </div>
      <div class="Forums1">
        Florida
      </div>
      <div class="Forums1">
        Georgia
      </div>
      <div class="Forums1">
        Kentucky
      </div>
      <div class="Forums1">
        LSU
      </div>
      <div class="Forums1">
        Mississippi St.
      </div>
      <div class="Forums1">
        Missouri
      </div>
      <div class="Forums1">
        Ole Miss
      </div>
      <div class="Forums1">
        Sout Carolina
      </div>
      <div class="Forums1">
        Tennessee
      </div>
      <div class="Forums1">
        Texas A&M
      </div>
      <div class="Forums1">
        Vanderbilt
      </div>
    </div>
  </div>
  <div class="eleven wide column" id="ContentR">
    <div>
      Latest SEC News
    </div>
</div>
