#TopicHead {
  FONT-WEIGHT: bold;
  color: white;
  font-family: Verdana;
  font-size: 12px;
  background-color: #10254A;
}

#NavLinks2 {
  color: white;
  text-decoration: None;
  font-family: verdana, Lucida Sans Typewriter, helvetica;
  font-size: 12px;
}

#profileTable {
  margin-top: 0px;
}

#profileLink {
  font-size: 12px;
}

#profileBold {
  font-weight: bold;
}
