#ContentM {
  font-size: 20px;
  padding-left: 25%;
  box-shadow: 0px 0px 0px 0.2px gray;
  border-radius: 3px;
  background-color: white;
}

form {
  font-size: 15px;
}

.login {
  max-width: 300px;
}

#signIn {
  color: white;
  background-color: #10254A;
  padding: 3px 0px 3px 10px;
  font-size: 15px;

}
