<div class="two column row">
  <div class="four wide column" id="ContentL">
    <%= render "devise/shared/forums" %>
  </div>
  <div class="eleven wide column" id="ContentR">
    <%= @art.title %>
    <%= @art.text %>
  </div>
<div>
