<div>
  <button type="button" class="ui button" name="button" id="link">link</button>
  <button type="button" class="ui button" name="button" id="img">img</button>
  <button type="button" class="ui button" name="button" id="bold">B</button>
  <button type="button" class="ui button" name="button" id="italicize">i</button>
  <button type="button" class="ui button" name="button" id="underline">U</button>
  <button type="button" class="ui button" name="button" id="quote">quote</button>
</div>
