<div id="bbcode">
  <button type="button" class="ui button" name="button" id="link_markup">link</button><br />
  <button type="button" class="ui button" name="button" id="img_markup">img</button><br />
  <button type="button" class="ui button" name="button" id="bold_markup">B</button><br />
  <button type="button" class="ui button" name="button" id="italicize_markup">i</button><br />
  <button type="button" class="ui button" name="button" id="underline_markup">U</button><br />
  <button type="button" class="ui button" name="button" id="quote_markup">quote</button>
</div>
