/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "semantic-ui";

 @import "semantic-ui/modules/sticky";

.ui.grid {
  margin-top: 0rem;
  margin-left: 0rem;
  margin-right: 0rem;
  padding-left: 0rem;
  padding-right: 0rem;
}

#fiveWide {
  background-color: #10254A;
  display: table-cell;
}

#tRant_Blue {
  padding: 0px 0px 0px 0px;
  background-color: #10254A;
}

#tRant_Img {

}

#mainNav {
  background-color: #00133F;
  padding: 8px 0px 0px 5px;
}

.ui.simple.dropdown.item {
  padding-left: 2%;
  font-size: 15px;
  color: white;
}

.inline {
  padding-left: 15px;
  font-size: 15px;
  color: white;
  display: inline;
}

a[href="/"] {
  font-size: 15px;
  color: white;
}

a {
  font-size: 15px;
}

#userNav {
  padding: 7px 0px 7px 20px;
  background-color: #252525;
}

#userNavLink {
  padding: 0px 0px 0px 20px;
  color: #c2c2c2;
}

#userNavLink:hover {
  color: #fff;
  text-decoration: underline;
}

#session {
  color: white;
}

#TopNav {
  padding: 0px 0px 0px 0px;
  font-size: 20px;
  background-color: #10254A;
  position: relative;
  height: 55px;
}

.signInMenu {
  float: right;
  background-color: #00133F;
  padding: 8px 14px 8px 14px;
  color: white;
  display: table-cell;
  border-radius: 5px 5px 5px 5px;
}

.session {
  font-size: 12px;
  font-weight: bold;
  color: white;
}

.session:hover {
  color: white;
}

.registration {
  font-size: 14px;
  font-weight: bold;
  color: white;
}

.registration:hover {
  color: white;
}

#ContentR {
  font-size: 20px;
  box-shadow: 0px 0px 0px 0.2px gray;
  border-radius: 3px;
  background-color: white;
}

#ddmenu {
  max-height: 46px;
  color: white;
  background-color: #00133F;
  font-size: 15px;
}

.ui.simple.dropdown:hover > .menu {
  background-color: #F4F4F4;
}

.ui.simple.dropdown
.menu {
  padding-top: 15px;
}

.ui.dropdown {
  padding-bottom: 13px;
}

#MenuHeader {
  color: #3F4041;
  padding: 0px 0px 0px 17px;
  FONT-WEIGHT: bold;
}

#MenuLink {
  color: #3F4041;
}

#errorColumn {
  font-weight: bold;
  color: white;
  background-color: red;
}

#successColumn {
  font-weight: bold;
  color: white;
  background-color: green;
}
.panelLink {
  float: right;
  width: 60%;
  font-size: 15px;
  font-style: oblique;
  text-shadow: 0px 0px 10px;
  color: #ffcc33;
}

.panelLink:hover {
  text-decoration: underline;
  color: #ffff00;
}

.forumImage {
  height: 45px;
  width: 55px;
  border-radius: 5px;
}

#siteNav {
  color: #E7E9EF;
  font-size: 13px;
  font-weight: bold;
}

#bbcode {
  left: 500px;
  position: absolute;
}

#link_markup {
  color: blue;
}

#img_markup {
}

#quote_markup {
}

#italicize_markup {
  font-style: italic;
}

#bold_markup {
  font-weight: 900;
}

#underline_markup {
  text-decoration: underline;
}

.blackSession {
  color: #c2c2c2;
  font-weight: bold;
  font-size: 13px;
  font-family: arial;
}

.blackSession2 {
  color: #c2c2c2;
  font-weight: bold;
  font-size: 13px;
  padding-left: 17px;
  font-family: arial;
}

.blackSession:hover {
  color: #fff;
  text-decoration: underline;
  font-weight: bold;
  font-size: 13px;
}

.blackSession2:hover {
  color: #fff;
  text-decoration: underline;
  font-weight: bold;
  font-size: 13px;
}

.logoChant {
  font-size: 35px;
}

#logoGold {
  color: #ffcc33;
}

#logoSilver {
  color: #eeeeee;
}
