/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.ui.grid {
  margin-top: 0rem;
}

a[href="/"] {
  padding-left: 20px;
  color: white;
}

a {
  font-size: 15px;
}

#session {
  color: white;
}

#TopNavL {
  font-size: 20px;
  background-color: #10254A;
}

#TopNavR {
  font-size: 20px;
  background-color: #10254A;
}

/*#home {
  padding-left: 20px;
}*/

.session {
  color: white;
}

.registration {
  padding-right: 20px;
  color: white;
}

#ContentR {
  font-size: 20px;
  box-shadow: 0px 0px 0px 0.2px gray;
  border-radius: 3px;
  background-color: white;
}

#ddmenu {
  color: white;
  background-color: #00133F;
  font-size: 15px;
}

#MenuHeader {
  color: #3F4041;
  padding: 0px 0px 0px 17px;
  FONT-WEIGHT: bold;
}

#MenuLink {
  color: #3F4041;
}
