#Picture_Column_Home {
  max-width: 247px;
  width: 100%;
}

.Art_Title_Home {
  font-weight: 800;
  font-family: calibri;
  font-size: 20px;
  line-height: 25px;
  color: #333333;
}

.Art_Title_Home:hover {
  color: #333333;
  text-decoration: underline;
}

.Art_Text_Home {
  line-height: 18px;
  font-size: 13px;
  color: #444;
}

#text {
  font-size: 18px;
}

.editComment {
  float: right;
}


.Art_Title {
  font-size: 34px;
  line-height: 40px;
}

#postedByArtColumn {
  padding-bottom: 0px;
}

div#postedByArtColumn
Hr {
  margin-top: 4px;
}


.postedByArt {
  overflow: hidden;
  color: #6E6E6E;
  font-family: arial;
  font-weight: normal;
  font-size: 13px;
  text-decoration: none;
  FONT-WEIGHT: normal;
  margin: 0px;
}

div.postedByArt
Span {
  margin-right: 15px;
}

#Art_Display {

}

div#Art_Display
Span {
  float: right;
}

.artStory {
  font-size: 15px;
  line-height: 24px;
}

div#artComments
H3 {
  border-top: solid 1px #d9d9d9;
  border-bottom: solid 1px #D9D9D9;
  color: #fff;
  font-family: arial;
  font-size: 16px;
  padding: 9px 0px 9px 6px;
  margin: 0px;
  background: #10254A;
}

div#artComments
Span {
  font-size: 13px;
  color: #225FB2;
  color: #ededed;
  font-weight: normal;
}


div#addComment
H3 {
  font-size: 16px;
  font-weight: bold;
}

#Home_Art_Image {
  width: 100%;
  height: 100%;
  max-width: 210px;
  max-height: 130px;
}
