#text {
  font-size: 18px;
}

.comment {
  padding: 0px 0px 0px 10px;
  border-style: solid;
  border-color: wheat;
}

#artAuthor {
  float: right;
  font-size: 12px;
  font-weight: 400;
}

.editComment {
  float: right;
}

.progress {
  max-width: 600px;
  margin:    0.2em 0 0.2em 0;
}

.progress .bar {
  height:  1.2em;
  padding: 0.2em;
  color:   white;
  display: none;
}
