#text {
  font-size: 18px;
}

.comment {
  padding: 0px 0px 0px 10px;
  border-style: solid;
  border-color: wheat;
}

#artAuthor {
  float: right;
  font-size: 12px;
  font-weight: 400;
}

.editComment {
  float: right;
}

.Art {
  border-bottom: 1px solid #ededed;
  font-size: 13px;
  position: relative;
  padding: 12px 0px;
}

.Art_Image {
  display: table-cell;
}

.Art_Title1 {
  font-size: 20px;
  line-height: 25px;
  font-family: calibri;
  color: #333333;
}

.Art_Title1:hover {
  text-decoration: underline;
  color: #333333;
}

#tableCell {
  display: table-cell;
}

.Art_Text1 {
  position: absolute;
  top: 5px;
  left: 27%;
}

.Art_Text2 {
  padding-top: 8px;
  line-height: 18px;
  font-size: 13px;
}
