// Place all the styles related to the Forums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sixteenWideColumn {
  background-color: white;
  padding-top: 0px;
  padding-bottom: 10px;
}

#twoColumnRow {
  padding-top: 0px;
}

#twoWideColumn {
  padding-left: 0px;
}

#fourteenWideColumn {
  padding-right: 0px;
  padding-left: 0px;
}

#LNav {
  background-color: #ffffff;
  border-top: solid 1px #D3D3D3;
  border-left: solid 1px #D3D3D3;
  border-right: solid 1px #D3D3D3;
  border-bottom: solid 1px #D3D3D3;
  padding: 10px 0px 0px 10px;
  height: 100vh;
}

#bodyR {
  background-color: #ffffff;
  position: relative;
  border-top: solid 1px #D3D3D3;
  border-left: solid 1px #D3D3D3;
  border-right: solid 1px #D3D3D3;
  padding: 20px 2px 2px 20px;
}

.PgBoardName {
  color: #000066;
  font-size: 25px;
  font-weight: 900;
}

.PgBoardName:hover {
  color: #000066;
}

#LNavH {
  font-family: verdana;
  color: #3F4041;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 10px;
}

.LNavLink {
  font-family: verdana;
  padding: 0px 0px 0px 5px;
  font-size: 14px;
  color: #3F4041;
}

.LNavLink:hover {
  color: #3F4041;
  text-decoration: underline;
}

#thead {
  color: white;
  FONT-WEIGHT: bold;
  background-color: #10254A;
}

.topic {
  width: 60%;
}

#tdata {
  color: #000066;
  font-size: 15px;
}

.pagingLink {
  padding-left: 3px;
  float: left;
  color: #000066;
  FONT-WEIGHT: bold;
}

.pagingLink:hover {
  color: #000066;
}

.pagination {
  color: #000066;
  FONT-WEIGHT: bold;
  display: inline;
  float: right;
}
