// Place all the styles related to the Forums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#LNav {
  border-right: solid 1px #D3D3D3;
  border-top: solid 1px #D3D3D3;
}

#bodyR {
  border-top: solid 1px #D3D3D3;
  border-left: solid 1px #D3D3D3;
  padding: 2px 2px 2px 10px;
}
