// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#post_message {
  height: 150px;
  width: 440px;
}

#new_post {
}

.submit {
  padding-left: 160px;
}

#bbcode {
  position: absolute;
  padding-top: 30px;
  padding-left: 450px;
}
#italicize_markup {
  font-style: italic;
}

#bold_markup {
  font-weight: bold;
}

#underline_markup {
  text-decoration: underline;
}

.reply {
  float: left;
}

.replyUser {
  padding-bottom: 130px;
}
