// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#post_message {
  height: 150px;
  width: 440px;
}

#new_post {
}

.submit {
  padding-left: 160px;
}

.reply {
  float: left;
}

.replyUser {
  padding-bottom: 130px;
}
