#ContentRProf {
  box-shadow: 0px 0px 0px 0.2px gray;
  border-radius: 3px;
  background-color: white;
}

#ContentRProf2 {
  margin: 10px 0px 0px 0px;
  box-shadow: 0px 0px 0px 0.2px gray;
  border-radius: 3px;
  background-color: white;
}

.AvaHdr {
  display: table;
}

.Ava1 {
  display: table-cell;
}

#avatar {
  border: 0px;
  height: 70px;
  width: 70px;
}
