.searchLink {
  text-decoration: underline;
  font-size: 13px;
  color: #000066;
  font-family: arial;
}

#tdataLeft {
  color: #000066;
  font-size: 15px;
}

#tdataRight {
  padding: 5px 5px 10px 5px;
  text-align: center;
  color: #000066;
  font-size: 15px;
  width: 80%;
}

#tdataRightLink {
  color: #000066;
  font-weight: 500;
}

.postMessage {
  float: left;
  padding: 0px 5px 0px 5px;
}

#theadSearch {
  color: white;
  FONT-WEIGHT: bold;
  background-color: #10254A;
  width: 80%;
}
