// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#topicError {
  font-weight: bold;
  font-size: 20px;
  color: red;
}

#topicLogin {
  padding-bottom: 10px;
  padding-top: 20px;
  font-weight: bold;
  font-size: 20px;
}

.topicLogin {
  font-weight: bold;
  font-size: 20px;
  color: black;
}

#topicLink {
  color: #000066;
  font-size: 25px;
  FONT-WEIGHT: bold;
}

#tDataUser {
  position: absolute;
}

#tDataMessage {
  padding-bottom: 20px;
}

#subject {
  font-weight: bold;
}

#date {
  font-size: 10px;
  padding-left: 5px;
}

label[for=topic_subject] {
  font-weight: bold;
}

#topic_subject {
  width: 440px;
}

#labelMessage {
  font-weight: bold;
}

#topic_posts_attributes_message {
  height: 150px;
  width: 440px;
}

#topic_posts_attributes_0_message {
  height: 150px;
  width: 440px;
}
