// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#topicError {
  font-weight: bold;
  font-size: 20px;
  color: red;
}

#topicLogin {
  padding-bottom: 10px;
  padding-top: 20px;
  font-weight: bold;
  font-size: 20px;
}

.topicLogin {
  font-weight: bold;
  font-size: 20px;
  color: black;
}

#topicLink {
  color: #000066;
  font-size: 25px;
  FONT-WEIGHT: bold;
}

#topicsTable {
  margin-top: 0em;
}

#postedBy {
  width: 20%;
}

#message {
  width: 80%;
}

#tDataMessage {
  padding-bottom: 20px;
}

#subject {
  font-weight: bold;
}

#date {
  font-size: 10px;
  padding-left: 5px;
}

label[for=topic_subject] {
  font-weight: bold;
}

#topic_subject {
  width: 100%;
}

#labelMessage {
  font-weight: bold;
}

#topic_posts_attributes_message {
  height: 150px;
  width: 100%;
}

#topic_posts_attributes_0_message {
  height: 150px;
  width: 440px;
}

#topic_post_message {
  height: 150px;
  width: 100%;
}

#postProfileLink {
  color: black;
  font-weight: bold;
  font-size: 15px;
}

#postProfileLink:hover {
  color: black;
}

.userInfo {
  font-size: 11px;
}

.pText {
  line-height: 17px;
  word-wrap: break-word;
  font-family: arial;
  min-height: 102px;
}

.custButton {
  color: #000066;
  background: #F7f7f7;
  border: solid 1px #C0C0C0;
  margin-right: 10px;
  display: block;
  float: left;
  width: 75px;
  text-decoration: none;
  text-align: center;
  padding: 4px;
  font-size: 11px;
  font-weight: bold;
}

.custButton:hover {
  color: #000066;
}

#bbcodeTopic {
  padding-top: 70px;
  float: right;
  padding-right: 300px;
}

#verticalAlign {
  padding: 5px 0px 0px 5px;
  vertical-align: top;
  position: relative;
}

.backToTop {
  font-size: 10px;
  position: absolute;
  color: gray;
  bottom: 10px;
  padding: 0px 0px 0px 2px;
}

.backToTop:hover {
  color: gray;
}

.rep {
  color: #4D4D4D;
  font-size: 11px;
  font-weight: bold;
}

#arrows {
  float: right;
}

#upvotes {
  font-weight: bold;
  color: green;
  padding-right: 15px;
}

#downvotes {
  font-weight: bold;
  color: red;
}
