// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "semantic-ui";

#fourWideColumnHome {
  padding: 0px 0px 0px 0px;
}

#eightWideColumnHome {
  padding: 0px 0px 0px 0px;
}

#twoColumnRowHome {
  padding: 0px 0px 0px 0px;
}

#ForumsH {
  color: #a89eaf;
  padding: 2px 2px 15px 2px;
  font-size: 15px;
  line-height: 18px;
}

#ForumsH2{
  color: #a89eaf;
  padding: 20px 2px 15px 2px;
  font-size: 15px;
  line-height: 18px;
}

.forumDescription {
  font-size: 12px;
  padding-bottom: 25px;
}

.homeLNav {
  font-weight: bold;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.8);
}

.homeLNav:visited {

}

.homeLNav:hover {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: underline;
}

.Art_SEC {
  border-bottom: 1px solid #ededed;
  font-weight: normal;
  margin: 8px 0px;
  padding: 0px 0px 10px 0px;
}

#newArtButton {
  position: absolute;
  top: 10px;
  left: 90%;
}
