// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "semantic-ui";

#ForumsH {
  color: #a89eaf;
  padding: 2px 2px 2px 2px;
}

.Forums1{
  padding: 7px 2px 2px 2px;
}

.homeLNav {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
}

.homeLNav:visited {

}

.homeLNav:hover {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: underline;
}

.Art_SEC {
  font-weight: normal;
  margin: 8px 0px;
  padding: 0px 0px 10px 0px;
}
